@import '../assets/css/fonts.css';
@import '../assets/css/colors.css';

#search {
    width: 50%;
}

#search-input {
    /* Reset all default styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    font-family: 'Roboto Mono';

    /* Custom styling */
    border-radius: 25px;
    padding: 1rem;
    width: 80%;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    font-size: 1.5rem;
    background-color: #ffffff;
    color: #333;
    transition: all 0.3s ease;

    &:focus {
        border-bottom-color: var(--primary-color);
    }
}

#search-results {
  margin-top: 2rem;
}

@media (max-width: 768px) {
 #search {
  width: 100%;
 }
}
